@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


#header2-0 P {
  color: #b8312f;
}
#header2-0 H1 {
  color: #000000;
}
#features1-3 P {
  text-align: center;
}
#features1-3 .mbr-section__col .mbr-header__text {
  font-family: 'Source Sans Pro', sans-serif;
}
#content1-b DIV {
  font-family: 'Merriweather', serif;
}
#image2-c SMALL {
  text-align: center;
}
#image2-d SMALL {
  text-align: center;
}
#image2-e SMALL {
  text-align: center;
}
